"$schema" = "https://starship.rs/config-schema.json"
# Inserts a blank line between shell prompts
add_newline = true

# A minimal left prompt
format = """$character"""

# move the rest of the prompt to the right
right_format = """$all"""

# ~/.config/starship.toml

# A continuation prompt that displays two filled-in arrows
continuation_prompt = '[▶▶ ](bold blue)'
# Custom character for the prompt
[character]
success_symbol = '[>](bold blue)'
error_symbol = '[>](bold red)'

[aws]
disabled = true

[gcloud]
disabled = true

[docker_context]
disabled = true
